BOT_TOKEN=Госпожа Кагуя
PORT=3000

# Твой Telegram ID — только у него виден список сервисов ВСЕХ пользователей.
# Узнать свой ID можно у @userinfobot. По умолчанию уже стоит твой ID.
ADMIN_ID=6511859639 да да это мой айди в тг основа ахахахаха напиши если увидел чтоб я сразу понял напиши Бурмалда ахахахах

# (Необязательно) Строка подключения к MongoDB (например, бесплатный кластер на MongoDB Atlas).
# Если указана — сервисы хранятся в базе и переживут даже полный передеплой на Render.
# Если НЕ указана — данные хранятся в локальном файле data/services.json
# (переживает обычный рестарт, но может быть стёрт при пересборке/переезде на Render Free).
# MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/pingo
